* {
    
    box-sizing: border-box;
}

body {
    max-width: 100%;
    height: 100%;
}

.awesome {
    max-width: 100%;
   
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    
    color: #212121;
    font-size: 36px;
    padding-top: 108px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 26px;
    text-transform: uppercase;
    color: #212121;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
   
}

.subtitle {
    margin-top: 30px;
    text-align: center;
    line-height: 14px;
    margin-bottom: 80px;
}
.subtitle__text {
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

}


/* Блок Header-a */

.header {
    background-color: #000;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo__img {
    background: url(/img/header-logo.png);
    display: block;
    height: 27px;
    width: 79px;
    margin: 22px 0;
}

.header-nav__list {
    display: flex;
    justify-content: space-between;
}

.header-nav__list-item {
    list-style-type: none;
    margin-left: 48px;
    
}


.header-nav__link {
    text-decoration: none;
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    transition: all 1s ease;
   
}

.header-nav__link:hover {
    color: #ff8b38;
    opacity: 1;
}
/* Блок Fullscreen */

.fullscreen {
    background: url(/img/fullscreen-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 71px);
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container.full {
    display: flex;
    margin: 0;
    justify-content: space-between;
    width: 100%;
}

.fullscreen-wrapper {
   
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
}


.fullscreen__logo {
    margin-bottom: 33px;
}

.fullscreen__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 516px;
    
}
.fullscreen__title::after {
    display: block;
    border-bottom: 3px solid rgb(255, 255, 255);
    width: 74px;
    content: ' ';
    margin-right: auto;
    margin-top: 38px;
    margin-bottom: 42px;
}

.fullscreen__text {
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    max-width: 461px;
    margin-bottom: 44px;
    }

.fullscreen__button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    display: inline-block;
    width: 135px;
    height: 42px;
    text-align: center;
    outline: none;
    /* margin-bottom: 139px; */
    
}

.fullscreen__link {
    text-decoration: none;
    color: white;
}

.fullscreen__button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  
}
.fullscreen__button:active{
    background-color: rgba(255, 255, 255, 0.7);
  
}
/* Форма главного экрана */

label {
    display: none;
}

.fullscreen-trial {
    
    width: 360px;
    text-align: center;

}

.fullscreen__trial-title {
    background-color: #f5f5f5;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    }

.free {
    color: #ff8b38;

}

.fullscreen__list {
    background-color: #fff;
}

input {
    outline: none;
    width: 285px;
    height: 31px;
    border: none;
    border-bottom: 1px solid #cccccc;
    margin-top: 36px;
    padding-left: 15px;
    
   
}

input::-webkit-input-placeholder { 
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

input::-moz-placeholder {
    
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.fullscreen__password {
    margin-bottom: 50px;
}

.fullscreen__trial-link {
    display: block;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ff8b38;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all .5s ease;
}

.fullscreen__trial-link:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  
    text-shadow:2px 2px 5px rgba(0, 0, 0, 0.5) ;
    border-top: 1px solid #86878b;
}

/* 
.awesome__underline {
    
    border-bottom: 2px solid #ff8b38;
    width: 64px;
    margin: auto;
} */

/* underline через псевдо */
.awesome__title::after {
    display: block;
    border-bottom: 2px solid rgb(255, 147, 6);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}

.awesome-cards   {
    display: flex;
    justify-content: space-between;
    margin-left: -16px;
    margin-right: -16px;
   
        
    }


.awesome-cards__item {
    font-size: 100%;
    text-align: center;
    width: 350px;
    margin-bottom: 105px;
    margin-left: 16px;
    margin-right: 16px;
   
}
.awesome-cards__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    width: 70px;
    height: 70px;
    border: 3px solid #ff8b38;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .awesome-cards__icon {
    width: 100%;
    height: 100%;
} */

.awesome-cards__title {
    margin-bottom: 25px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    
}

.awesome-cards__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
}

/* Секция с футером, вторая домашка


*/
.axure {
    
    background-image: url(/img/u25_state0.jpg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
      
}

.axure-main {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}
.axure-main-content {
    text-align: center;
    
    

}
.axure-main__title {
    padding-top: 74px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;

}

.axure-main__title::after {
    display: block;
    border-bottom: 3px solid rgb(255, 255, 255);
    width: 74px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 35px;
}
.axure-main__subtitle-text {
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.axure-main__button {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: 2px solid white;
    display: inline-block;
    color: white;
    width: 135px;
    height: 42px;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 63px;
    outline: none;
    
}

.axure-main__button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  
}
.axure-main__button:active{
    background-color: rgba(255, 255, 255, 0.7);
  
}

.footer {
    
    background-color: black;
}
.footer__list {
   padding-top: 38px;
   margin-bottom: 15px; 
}
.footer__social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 317px;
    margin: auto;

}
.footer__social-element {
    font-size: 23px;
    
    
}

.fab, .fas {
    color: #86878b;
    transition: all 1s ease;
}
.fab:hover {
    color: #ff8b38;
}
.fas:hover {
    color: #ff8b38;
}
.footer__text {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    
}

.footer-copyright {
    padding-bottom: 15px;
}

/* Price section */
.price {
    background-color: #f5f5f5;
}

.price-content {
    margin-left: -20px;
    margin-right: -20px;
}

.price-cards {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price-cards div:nth-child(2){
    margin-left: 40px;
    margin-right: 40px;
}

.price__title::after {
    display: block;
    border-bottom: 2px solid rgb(255, 147, 6);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}



.price__subtitle-text {
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}

.price__card {
    width: 343px;
}

.price__card-element {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
    margin-left: 20px;
    margin-right: 20px;
}
    
.price__card-item.first, .price__card-item.second, .price__card-item.third, .price__card-item.third-nonborder {
    background-color:#333333 ;
}
.price__card-item.first {
    border-bottom: 2px solid #fff;
}
.price__card-item.second {
    border-bottom: 2px solid #fff;
}
.price__card-item.third {
    border-bottom: 5px solid #ff8b38;
}
.price__card-item.fourth {
    background-color: #ff8b38 ;
    
}


.price__card-item p {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;

}
.price__card-item {
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.third-nonborder {
    border-bottom: 0;
}
.price__card-item .price-cards__favorite {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 15px;

}



.price__card-item .price-cards__condition {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 19px;
    text-transform: none;
}
.price-cards__title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 21px;

}

.price__card-item .price-cards__price {
    color: #ffffff;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

}
.money {
    color: #ffffff;
    font-size: 35px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

/* Секция с комментариями */

.reviews-wrapper {
    margin: 0 -15px;
}

.reviews__title::after {
    display: block;
    border-bottom: 2px solid rgb(255, 147, 6);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}
.reviews__subtitle {
    margin-bottom: 55px;
}

.reviews-cards   {
    display: flex;
    justify-content: space-between;
    
        
    }

.reviews-cards__item {
    font-size: 100%;
    text-align: center;
    width: 273px;
    margin-bottom: 105px;
    margin-left: 15px;
    margin-right: 15px;
     
       
    }    
    
.reviews-cards__text {
    background-color: #f5f5f5;
    padding: 24px 13px 41px 12px;
    text-align: start;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
        
    }
.reviews-cards__comment {
    position: relative;
}
.reviews-cards__text::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 25px; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #f5f5f5; /* Добавляем треугольник */

    }

.reviews-cards__author {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    align-content: flex-start;
    justify-content: center;
    
}
.reviews-cards__author-img {
    width: 70px;
    height: 70px;
    
}
.reviews-cards__author-name {
    margin-left: 15px;
    margin-bottom: 8px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.reviews-cards__author-job {
    text-align: left;
    margin-left: 15px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.social-list  {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 634px;
    margin: auto;
    font-size: 46px;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px -15px 0;
}
.social::after {
    display: block;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    
}


.media__title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 12px;
}

.media__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-align: left;
}

.media {
    max-width: 360px;
    margin-left: 15px;
    margin-right: 15px;
  
}
.social-links {
    margin-left: 15px;
    margin-right: 15px; 
}


/* Блок Contact US */

.contact__title::after {
    display: block;
    border-bottom: 2px solid rgb(255, 147, 6);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}
.contact__subtitle {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 80px;
    
}





.contact-wrapper  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -34px;
    margin-right: -34px;
    
}
.contact-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
    width: 100%;
   
    
}

.contact__list, .contact__textarea, .message{
    
    max-width: 527px;
   
}
.contact__list {
    /* margin: 0 34px; */
    width: 100%;
    margin-right: 34px;
    margin-left: 34px;
}

.contact__list-item, .contact__input  {
    width: 100%;
}

.contact__textarea {
    height: 135px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
    resize: none;
    padding: 0;
    width: 100%;
    
}

.contact__message {
    display: block;
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    
   
}

.message {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    /* margin: 0 34px; */
    align-items: flex-start;
    width: 100%;
    margin-right: 34px;
    margin-left: 34px;
    
}

.contact__btn {
    width: 148px;
    height: 46px;
    border: none;
    border-radius: 5px;
    margin: 0 auto 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff8b38 ;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: 0.3s all ease;
    
}
.contact__btn:active {
    transform: scale(0.95, 0.95);
}