* {
    
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

.awesome {
    max-width: 100%;
   
}

.container {
    max-width: 1400px;
    
    margin: 0 auto;
}

.title {
    
    color: #212121;
    font-size: 36px;
    padding-top: 108px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 26px;
    text-transform: uppercase;
    color: #212121;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
   
}

.subtitle {
    margin-top: 30px;
    text-align: center;
    line-height: 14px;
    margin-bottom: 80px;
}
.subtitle__text {
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

}

/* 
.awesome__underline {
    
    border-bottom: 2px solid #ff8b38;
    width: 64px;
    margin: auto;
} */

/* underline через псевдо */
.awesome__title::after {
    display: block;
    border-bottom: 2px solid rgb(255, 147, 6);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}

.awesome-cards   {
    display: flex;
    justify-content: space-between;
    margin-left: 143px;
    margin-right: 143px;
        
    }


.awesome-cards__item {
    font-size: 100%;
    text-align: center;
    width: 350px;
    margin-bottom: 105px;
    
   
}
.awesome-cards__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    width: 70px;
    height: 70px;
    border: 3px solid #ff8b38;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .awesome-cards__icon {
    width: 100%;
    height: 100%;
} */

.awesome-cards__title {
    margin-bottom: 25px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    
}

.awesome-cards__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
}

/* Секция с футером, вторая домашка


*/
.axure-main {
    
    background-image: url(/img/u25_state0.jpg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
      
}
.axure-main-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);

}
.axure-main__title {
    padding-top: 74px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;

}

.axure-main__title::after {
    display: block;
    border-bottom: 3px solid rgb(255, 255, 255);
    width: 74px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 35px;
}
.axure-main__subtitle-text {
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.axure-main__button {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: 2px solid white;
    display: inline-block;
    color: white;
    width: 135px;
    height: 42px;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 63px;
    outline: none;
    
}

.axure-main__button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  
}
.axure-main__button:active{
    background-color: rgba(255, 255, 255, 0.7);
  
}

.footer-wrapper {
    
    background-color: black;
}
.footer__list {
   padding-top: 38px;
   margin-bottom: 15px; 
}
.footer__social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 317px;
    margin: auto;

}
.footer__social-element {
    font-size: 23px;
    
    
}

.fab, .fas {
    color: #86878b;
    transition: all 1s ease;
}
.fab:hover {
    color: #ff8b38;
}
.fas:hover {
    color: #ff8b38;
}
.footer__text {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    
}

.footer-copyright {
    padding-bottom: 15px;
}

/* Price section */
.price {
    background-color: #f5f5f5;
}

.price-cards {
    margin-left: 146px;
    margin-right: 146px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.price-cards div:nth-child(2){
    margin-left: 40px;
    margin-right: 40px;
}

.price__title::after {
    display: block;
    border-bottom: 2px solid rgb(255, 147, 6);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}



.price__subtitle-text {
    color: #86878b;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}

.price__card {
    width: 343px;
}

.price__card-element {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
}
    
.price__card-item.first, .price__card-item.second, .price__card-item.third, .price__card-item.third-nonborder {
    background-color:#333333 ;
}
.price__card-item.first {
    border-bottom: 2px solid #fff;
}
.price__card-item.second {
    border-bottom: 2px solid #fff;
}
.price__card-item.third {
    border-bottom: 5px solid #ff8b38;
}
.price__card-item.fourth {
    background-color: #ff8b38 ;
    
}


.price__card-item p {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;

}
.price__card-item {
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.third-nonborder {
    border-bottom: 0;
}
.price__card-item .price-cards__favorite {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 15px;

}



.price__card-item .price-cards__condition {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 19px;
    text-transform: none;
}
.price-cards__title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 21px;

}

.price__card-item .price-cards__price {
    color: #ffffff;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

}
.money {
    color: #ffffff;
    font-size: 35px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

/* Секция с комментариями */
.reviews__title::after {
    display: block;
    border-bottom: 2px solid rgb(255, 147, 6);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}
.reviews__subtitle {
    margin-bottom: 55px;
}

.reviews-cards   {
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 170px;
        
    }
.reviews-cards .reviews-cards__item:nth-child(2) {
    margin-left: 145px;
    margin-right: 145px;
}
.reviews-cards__item {
    font-size: 100%;
    text-align: center;
    width: 273px;
    margin-bottom: 105px;
     
       
    }    
    
.reviews-cards__text {
    background-color: #f5f5f5;
    padding: 24px 13px 41px 12px;
    text-align: start;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
        
    }
.reviews-cards__comment {
    position: relative;
}
.reviews-cards__text::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 25px; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #f5f5f5; /* Добавляем треугольник */

    }

.reviews-cards__author {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
    align-content: flex-start;
    justify-content: center;
    
}
.reviews-cards__author-img {
    width: 70px;
    height: 70px;
    
}
.reviews-cards__author-name {
    margin-left: 15px;
    margin-bottom: 8px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.reviews-cards__author-job {
    text-align: left;
    margin-left: 15px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.social-list  {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 634px;
    margin: auto;
    font-size: 46px;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px  162px 0 152px;
}

.media__title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 12px;
}

.media__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-align: left;
}

.media {
    max-width: 360px;
  
}